* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
    background-color: rgb(245, 248, 255);;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.primary-color {
  color: rgb(233, 90, 8);
}
.btn {
  background: rgb(233, 90, 8);
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  border: none;
  width: 270px;
  font-size: 20px;
}
.btn:hover {
  background: #d80056;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 30px;
}
nav img {
  width: 135px;
  height: 82px;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-items li a {
  text-decoration: none;

  font-size: 16px;
}
.same-color {
  color: rgb(137, 135, 161);
}
.home-black {
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.cart-color {
  color: rgb(0, 0, 0);
}
.banner {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 10px;
  margin-top: 25px;
}
.banner h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.banner p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  width: 570px;
  padding: 0;
  margin-top: 5px;
}
.banner-image img {
  width: 100%;
}
.description {
  align-items: center;
  text-align: center;
  margin-top: 80px;
}
.description h2 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.description p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
  margin-top: 50px;
}
.card {
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
}
.card p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.card h3 {
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}
.flower-lover {
  display: flex;
  gap: 60px;
  margin-top: 150px;
}
.flower-lover-image {
  position: relative;
  display: inline-block;
}
.flower-lover-img {
  width: 540px;
  height: 550px;
}
.flower-lover-badge {
  position: absolute;
  top: -80px;
  right: -85px;
  width: 200px;
  height: auto;
  z-index: 1;
   animation: spin 5s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flower-lover-text {
  text-align: left;
}
.flower-lover-text h2 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.flower-lover-text p {
  font-size: 22px;
  font-weight: 400;
  width: 480px;
}
.challange_part {
  display: grid;
  padding: 2rem;
  margin-top: 80px;
}
.display-item {
  display: flex;
  gap: 25px;
}
.part-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
  gap: 25px;
}
.part-1-text {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-bloom.png");
  text-align: center;
  background-size: cover;
  width: 366.22px;
  height: 206px;
  border-radius: 10px;
  color: white;
  align-items: center;

  padding-top: 50px;
}
.part-2-text {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-ana.png");
  text-align: center;

  background-size: cover;
  width: 366.22px;
  height: 206px;
  border-radius: 10px;
  color: white;
  align-items: center;
  
  padding-top: 50px;
}
.part-1-text p {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}
.part-1-text a {
    font-size: 25px;
  color: white;
  font-weight: 500;
}
.part-2-text p {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}
.part-2-text a {
    font-size: 25px;
  color: white;
  font-weight: 500;
}

.part-3-text {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/deal-zabo.png");

  text-align: center;
  background-size: cover;
  width: 753px;
  height: 435px;
  border-radius: 10px;
  align-items: center;
  padding-top: 150px;
}
.part-3-text p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.part-3-text a {
  font-size: 30px;
  color: white;
  font-weight: 500;
}
